<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIREBASE_REALTIME_DATABASE_URL</key>
	<string>https://shawaapp-default-rtdb.europe-west1.firebasedatabase.app/</string>
</dict>
</plist>
