<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6F-CGW6A0C3hDBGF9B_f_w-E0u21mP9A</string>
	<key>GCM_SENDER_ID</key>
	<string>645880905534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.alex.vasilevski007.ShawaAdmin</string>
	<key>PROJECT_ID</key>
	<string>shawaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>shawaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645880905534:ios:31219542e76bc621fa366f</string>
	<key>DATABASE_URL</key>
	<string>https://shawaapp-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>